.about-container {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 800px;
  background-color: rgba(255, 255, 255, 0.799);
  color: #000;
  padding: 2rem;
  border-radius: 20px;
  font-family: "JetBrains Mono", monospace;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.about-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.about-description {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.about-footer {
  margin-top: 2rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: #0077b6;
}

@media screen and (max-width: 600px) {
  .about-container {
    padding: 1.5rem;
    top: 20%;
  }

  .about-title {
    font-size: 1.5rem;
  }

  .about-description,
  .about-footer {
    font-size: 1rem;
  }
}
